<form method="POST" action="/add">
  <fieldset>
    <legend><h2>Add a coaster to the site</h2></legend>
    Name:<br>
    <input type='text' name='name'><br>
    Manufacturer:<br>
    <input type='text' name='manufac'><br>
    Year opened:<br>
    <input type='text' name='year'><br>
    Height (ft.):<br>
    <input type='text' name='height'><br>
    Top speed (mph):<br>
    <input type='text' name='speed'><br>
    Number of inversions:<br>
    <input type='text' name='inversions'><br>
    Ride duration (sec.):<br>
    <input type='text' name='duration'><br>
    Ride length (ft.):<br>
    <input type='text' name='length'><br>
    Capacity (riders/hour):<br>
    <input type='text' name='capacity'><br>
    Write a review: <i>(optional)</i><br>
    <textarea type='text' name='review' rows="10" cols="80"></textarea><br>
    Your name: <i>(optional)</i><br>
    <input type='text' name='rname'><br>
    <br>
    <input type='submit' value='Submit'><br>
  </fieldset>
</form>