<h1>Oldest Coasters</h1>
<div style="display: inline-block">
    <ul style="list-style-type:none;">
    {{#each cNames}}
        <li>{{this}} opened in</li>
    {{/each}}
    </ul>
</div>
<div style="display: inline-block">
    <ul>
    {{#each cAges}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
</div>