<h2>Choose option to clear from coasters.json</h2>
<p><i>For debug use.</i></p>
<br>
<div style="display: inline">
    <form action="/reset/reviews" method="post">
        <input type="submit" name="upvote" value="Reset Reviews" />
    </form>
</div>
<div style="display: inline">
    <form action="/reset/all" method="post">
        <input type="submit" name="upvote" value="Reset All" />
    </form>
</div>