<h1>Fastest Coasters</h1>
<div style="display: inline-block">
    <ul>
    {{#each cSpeeds}}
        <li>{{this}} mph</li>
    {{/each}}
    </ul>
</div>
<div style="display: inline-block">
    <ul style="list-style-type:none;">
    {{#each cNames}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
</div>